.saved-articles-box {
	margin: 25px;
	border-radius: 0;
	border: 1px solid #5b5b5b;
}

.saved-header h3 {
	margin: 0;
	text-align: center;
	font-family: 'Eczar', serif;
	font-size: 25px;
	color: white;
}

.saved-header {
	background-color: #5b5b5b;
	border-bottom: none;
}

h6.no-saved-message {
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
}